[submodule "exchanges/flywheel-io"]
	path = exchanges/flywheel-io
	url = http://github.com/flywheel-io/exchange
[submodule "inputs/antsBrainExtractionExample"]
	path = inputs/antsBrainExtractionExample
	url = https://github.com/ntustison/antsBrainExtractionExample
[submodule "inputs/antsCorticalThicknessExample"]
	path = inputs/antsCorticalThicknessExample
	url = https://github.com/ntustison/antsCorticalThicknessExample
